<mat-toolbar>
  <span routerLink="/" class="logo">Moviefy</span>
  <span class="spacer"></span>
  <a routerLink="/search" mat-button>Home</a>
  <app-navbar-admin *ngIf="role==='Admin'"></app-navbar-admin>
  <app-navbar-user *ngIf="role==='RegularUser'"></app-navbar-user>
  <a mat-button (click)="logout()">Logout</a>
<!--  <app-navigation-admin *ngIf="role==='ADMIN'"></app-navigation-admin>-->
<!--  <app-navigation-guest *ngIf="role==='GUEST'"></app-navigation-guest>-->
<!--  <app-navigation-owner *ngIf="role==='OWNER'"></app-navigation-owner>-->
<!--  <a routerLink="account" mat-button *ngIf="role!==''" class="account">-->
<!--    Account-->
<!--    <mat-icon *ngIf="role==='GUEST'||role==='OWNER'" matBadge="{{notificationNumber}}" fontIcon="notifications_active"></mat-icon>-->
<!--  </a>-->
<!--  <div id="account-icon-holder" *ngIf="role!==''">-->
<!--    <img alt="" id="account-icon" [src]="userImage"/>-->
<!--  </div>-->
<!--  <a routerLink="login" mat-button id="login_btn" *ngIf="role===''">Login</a>-->
</mat-toolbar>
