<div id="main">
  <div id="search-bar">
    <form class="new-movie-form">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="title" name="title">
        </mat-form-field>
      </div>
      <div>
        <div>
          <div class="add-list">
            <mat-form-field appearance="outline">
              <mat-label>Genre</mat-label>
              <input matInput [(ngModel)]="newGenre" name="genre">
            </mat-form-field>
            <button class="list-add" mat-icon-button (click)="addGenre()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <mat-list>
            <mat-list-item *ngFor="let genre of genres; let i = index">
              <div class="list-element">
                <div mat-line>{{ genre }}</div>
                <button mat-icon-button (click)="removeGenre(i)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <div class="add-list">
            <mat-form-field appearance="outline">
              <mat-label>Actors</mat-label>
              <input matInput [(ngModel)]="newActor" name="actor">
            </mat-form-field>
            <button class="list-add" mat-icon-button (click)="addActor()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <mat-list>
            <mat-list-item *ngFor="let actor of actors; let i = index">
              <div class="list-element">
                <div mat-line>{{ actor }}</div>
                <button mat-icon-button (click)="removeActor(i)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <div class="add-list">
            <mat-form-field appearance="outline">
              <mat-label>Director</mat-label>
              <input matInput [(ngModel)]="newDirector" name="director">
            </mat-form-field>
            <button class="list-add" mat-icon-button (click)="addDirector()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <mat-list>
            <mat-list-item *ngFor="let director of directors; let i = index">
              <div class="list-element">
                <div mat-line>{{ director }}</div>
                <button mat-icon-button (click)="removeDirector(i)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>

      <div>
        <mat-form-field class="textarea-description" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
      </div>
      <br>
      <div>
        <button id="button-submit" (click)="search()">Search</button>
        <mat-error *ngIf="errors">{{ errors }}</mat-error>
      </div>
    </form>
  </div>

  <div class="tabs">
    <button class="tab" [ngClass]="{'active': activeTab === 'movies'}" (click)="setActiveTab('movies')">Movies</button>
    <button class="tab" [ngClass]="{'active': activeTab === 'series'}" style="margin-left: 4rem"
            (click)="setActiveTab('series')">Series
    </button>
  </div>

  <div class="container-new">
    <div class="container">
      <div class="card" (click)="onCardClick(movie.id)" *ngFor="let movie of shownMovies">
        <div *ngIf="movie.displaySeries">
          <h2 class="series-name">{{ movie.series }}</h2>
        </div>
        <div *ngIf="!movie.displaySeries">
          <div class="inline">
            <h2>{{ movie.title }}</h2>
            <button mat-icon-button aria-label="Edit" (click)="editMovie(movie.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="genres-container">
            <div style="margin-right: 0.5rem">
              <p>Description: </p>
            </div>
            <p>{{ movie.description }}</p>
          </div>
          <div style="margin-top: 1rem" class="genres-container">
            <div style="margin-right: 0.5rem">
              <p>Genres: </p>
            </div>
            <div class="genre" *ngFor="let genre of movie.genres">
              <span>{{ genre }}</span>
            </div>
          </div>
          <div class="genres-container">
            <div style="margin-right: 0.5rem;">
              <p>Actors: </p>
            </div>
            <div class="genre" *ngFor="let actor of movie.actors">
              <span>{{ actor }}</span>
            </div>
          </div>
          <div class="genres-container">
            <div style="margin-right: 0.5rem">
              <p>Directors: </p>
            </div>
            <div class="genre" *ngFor="let director of movie.directors">
              <span>{{ director }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
