.main {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.container {
  padding: 0 2rem 0 2rem;
  display: flex;
  width: 95%;
}

.left {
  width: 75%;
}

.right {
  margin-left: 1.5rem;
  width: 25%;
}

h3 {
  margin-left: 1rem;
  color: darkgrey;
}

.subtitle {
  margin-top:0.5rem;
  font-size: 1.4rem;
  color: #1a9094;
}

.value {
  font-size: 1rem;
  color: darkgrey;

}

.inline {
  margin: 1.5rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#button-download {
  margin-left: 3rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  font-size: 1rem;
  background-color: #42b1b6;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.res {
  color: darkgrey;
  padding: 0;
  margin: 0 1rem 0 0;
  font-size: 1.2rem;
}

.resolution {
  display: flex;
  align-items: center;
}

#button-download:hover {
  background-color: #2f7f83;
}

.menu {
  width: 5rem;
  border: solid 2px #2f7f83;
  color: darkgrey;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.video-container video {
  width: auto;
  max-width: 100%;
  height: auto;
}

.series {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #2f7f83;
}

.subscribe{
  margin-left: 0.5rem;
  color: darkgrey;

}

.subscribe:hover {
  opacity: 0.5;
  cursor: pointer;
}


.genres-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.genre {
  color: #41b0b5;
  display: flex;
  align-items: center;
  height: min-content;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
}



.movie-rating-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left:10rem;
  padding: 2rem;
  box-sizing: border-box;
}

.movie-rating-container h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.rating-section,
.suggest-section,
.likes-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rating-section mat-form-field,
.suggest-section .radio-group,
.likes-section mat-form-field {
  margin-right: 20px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-elements {
  display: flex;
  align-items: center;
}

.button-regular {
  width: 8rem;
  font-size: 1rem;
  background-color: #42b1b6;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

.button-regular:hover {
  background-color: #2f7f83;
}

.button-regular:disabled {
  background-color: #153f41;
  color: #9a9a9a;
}

.suggest-section p {
  color: lightgrey;
  margin : 0 0 0 2rem;
  padding: 0;
}

mat-radio-group {
  margin-left: 1rem;
}

.main-main {
  overflow: hidden;
}
