<div class="main">
  <h2>What happened to Monday</h2>
  <div class="container">
    <div class="left">
      <div class="video-container">
        <video controls>
          <source src="assets/videos/sample.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="right">
      <p class="subtitle">Description</p>
      <p class="value">It is a long established fact that a reader will be distracted by the readable content of a page
        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
        'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
        sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      <p class="subtitle">Genres</p>
      <p class="value">Drama, Horror</p>
      <p class="subtitle">Year</p>
      <p class="value">2019</p>
      <p class="subtitle">Actors</p>
      <p class="value">Noomi Rapace, Willem Dafoe, Glenn Close, Marwan Kenzari</p>
      <p class="subtitle">Director</p>
      <p class="value">Tommy Wirkola</p>
    </div>
  </div>
</div>
