<div class="main">
  <h2>{{title}}</h2>
  <div class="container">
    <div class="left">
      <div class="video-container">
        <video controls>
<!--          <source src="assets/videos/sample.mp4" type="video/mp4">-->
        </video>
      </div>
    </div>
    <div class="right">
      <p class="subtitle">Description</p>
      <p class="value">{{description}}</p>
      <p class="subtitle">Genres</p>
      <p class="value">{{genres}}</p>
      <p class="subtitle">Year</p>
      <p class="value">{{year}}</p>
      <p class="subtitle">Actors</p>
      <p class="value">{{actors}}</p>
      <p class="subtitle">Director</p>
      <p class="value">{{directors}}</p>
    </div>
  </div>
</div>
